body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-sports-poster-background-material-image_155755.jpg'); /* Add your attractive background image */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-sports-poster-background-material-image_155755.jpg') center/cover no-repeat;
    /* Adjust gradient and background properties */
    color: rgb(247, 240, 240);
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

.sport-description {
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    body {
      background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-sports-poster-background-material-image_155755.jpg');
    }
  }

sport-image {
    width: 500px;     /* Set a fixed width */
    height: 750px;    /* Set a fixed height */
    display: block;   /* Remove any default inline styles */
    margin: 0 auto;    /* Center the image */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}